<div class="modal-dialog">
  <button
    type="buton"
    class="btn btn-clean btn-user-cancel btn-cancel-primary cancel-dialog"
  />
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        Select a date:
      </h4>
    </div>
    <div class="modal-body clearfix">
      <div
        class="daily-challenges"
        style="max-height: 15rem;
               border-radius: 6px;
               overflow: hidden;
               overflow-y: scroll;
               padding: 5px;
               background: #243341;
               "
      />
    </div>
    <div class="modal-footer">
      <div class="btn-group btn-group-centered">
        <button class="btn btn-clean btn-clean-primary cancel-dialog">
          CANCEL
        </button>
        <button class="btn btn-clean btn-clean-primary confirm-dialog">
          PLAY
        </button>
      </div>
    </div>
  </div>
</div>
